In [1]:
#!pip install tensorflow-recommenders

In [2]:
import tensorflow as tf
#import tensorflow_recommenders as tfrs 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from math import sqrt
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
anime_df=pd.read_csv('/content/anime.csv')
rating_df=pd.read_csv('/content/rating.csv')

In [4]:
anime_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
anime_df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [6]:
rating_df=rating_df[rating_df!=-1.0]
rating_df.dropna()

         user_id  anime_id  rating
47             1      8074    10.0
81             1     11617    10.0
83             1     11757    10.0
101            1     15451    10.0
153            2     11771    10.0
...          ...       ...     ...
1607817    15610        73     8.0
1607818    15610       121     9.0
1607819    15610       136     7.0
1607820    15610       164     9.0
1607821    15610       199     9.0

[1305802 rows x 3 columns]

# IBM Collaborative Recomm system

Extract genre column since is not requiered

In [7]:
anime_df.drop('genre',axis=1,inplace=True)

In [8]:
anime_df.head()

   anime_id                              name   type episodes  rating  members
0     32281                    Kimi no Na wa.  Movie        1    9.37   200630
1      5114  Fullmetal Alchemist: Brotherhood     TV       64    9.26   793665
2     28977                          Gintama°     TV       51    9.25   114262
3      9253                       Steins;Gate     TV       24    9.17   673572
4      9969                     Gintama&#039;     TV       51    9.16   151266

In [9]:
this_id=anime_df['anime_id'][anime_df['name']=='Dragon Ball']

In [10]:
this_id

346    223
Name: anime_id, dtype: int64

In [11]:
print(anime_df[anime_df.name=='Bleach'])

     anime_id    name type episodes  rating  members
582       269  Bleach   TV      366    7.95   624055

Create User

In [12]:
userInput=(
    {'name':'Dragon Ball','rating':1.0},
    {'name':'One Piece','rating':1.0},
    {'name':'Naruto','rating':1.5},
    {'name':'Death Note','rating':9.0},
    {'name':'Bleach','rating':2.0},
    {'name':'Fullmetal Alchemist: Brotherhood','rating':4.0},
    {'name':'Love Live! School Idol Project','rating':8.0},
    {'name':'White Album 2','rating':9.0},
    {'name':'White Album','rating':8.0},
    {'name':'Fairy Tail','rating':7.0},
    {'name':'Soul Eater','rating':3.0},
    {'name':'Haiyore! Nyaruko-san W','rating':6.0},
    {'name':'Shigatsu wa Kimi no Uso','rating':10.0},
    {'name':'Myself; Yourself','rating':8.0},
    {'name':'True Tears','rating':8.0},
    {'name':'Nanatsu no Taizai','rating':1.0},
    {'name':'Stranger: Mukou Hadan','rating':10.0},
    {'name':'Kimi no Na wa.','rating':9.0},
    {'name':'Digimon','rating':9.0},
    {'name':'Pokemon','rating':8.0}






)
input_anime=pd.DataFrame(userInput)
input_anime

                                name  rating
0                        Dragon Ball     1.0
1                          One Piece     1.0
2                             Naruto     1.5
3                         Death Note     9.0
4                             Bleach     2.0
5   Fullmetal Alchemist: Brotherhood     4.0
6     Love Live! School Idol Project     8.0
7                      White Album 2     9.0
8                        White Album     8.0
9                         Fairy Tail     7.0
10                        Soul Eater     3.0
11            Haiyore! Nyaruko-san W     6.0
12           Shigatsu wa Kimi no Uso    10.0
13                  Myself; Yourself     8.0
14                        True Tears     8.0
15                 Nanatsu no Taizai     1.0
16             Stranger: Mukou Hadan    10.0
17                    Kimi no Na wa.     9.0
18                           Digimon     9.0
19                           Pokemon     8.0

In [13]:
input_anime.name

0                          Dragon Ball
1                            One Piece
2                               Naruto
3                           Death Note
4                               Bleach
5     Fullmetal Alchemist: Brotherhood
6       Love Live! School Idol Project
7                        White Album 2
8                          White Album
9                           Fairy Tail
10                          Soul Eater
11              Haiyore! Nyaruko-san W
12             Shigatsu wa Kimi no Uso
13                    Myself; Yourself
14                          True Tears
15                   Nanatsu no Taizai
16               Stranger: Mukou Hadan
17                      Kimi no Na wa.
18                             Digimon
19                             Pokemon
Name: name, dtype: object

Match input user names to the corresponding anime_id

In [14]:
inputId = anime_df[anime_df['name'].isin(input_anime['name'].tolist())]
inputId

,anime_id,name,type,episodes,rating,members
0,32281,Kimi no Na wa.,Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,TV,64,9.26,793665
16,23273,Shigatsu wa Kimi no Uso,TV,22,8.92,416397
40,1535,Death Note,TV,37,8.71,1013917
74,21,One Piece,TV,Unknown,8.58,504862
136,2418,Stranger: Mukou Hadan,Movie,1,8.43,125503
141,23755,Nanatsu no Taizai,TV,24,8.42,331627
288,6702,Fairy Tail,TV,175,8.22,584590
346,223,Dragon Ball,TV,153,8.16,316102
440,3588,Soul Eater,TV,51,8.08,580184
552,18245,White Album 2,TV,13,7.98,91075
582,269,Bleach,TV,366,7.95,624055
841,20,Naruto,TV,220,7.81,683297
1065,15051,Love Live! School Idol Project,TV,13,7.70,155281
1435,2129,True Tears,TV,13,7.55,118644
1816,15699,Haiyore! Nyaruko-san W,TV,12,7.43,84442
1834,527,Pokemon,TV,276,7.43,229157
1907,2926,Myself; Yourself,TV,13,7.41,115075
4383,4720,White Album,TV,13,6.74,54376

In [15]:
input_anime=pd.merge(inputId,input_anime,on='name')
input_anime

,anime_id,name,type,episodes,rating_x,members,rating_y
0,32281,Kimi no Na wa.,Movie,1,9.37,200630,9.0
1,5114,Fullmetal Alchemist: Brotherhood,TV,64,9.26,793665,4.0
2,23273,Shigatsu wa Kimi no Uso,TV,22,8.92,416397,10.0
3,1535,Death Note,TV,37,8.71,1013917,9.0
4,21,One Piece,TV,Unknown,8.58,504862,1.0
5,2418,Stranger: Mukou Hadan,Movie,1,8.43,125503,10.0
6,23755,Nanatsu no Taizai,TV,24,8.42,331627,1.0
7,6702,Fairy Tail,TV,175,8.22,584590,7.0
8,223,Dragon Ball,TV,153,8.16,316102,1.0
9,3588,Soul Eater,TV,51,8.08,580184,3.0
10,18245,White Album 2,TV,13,7.98,91075,9.0
11,269,Bleach,TV,366,7.95,624055,2.0
12,20,Naruto,TV,220,7.81,683297,1.5
13,15051,Love Live! School Idol Project,TV,13,7.70,155281,8.0
14,2129,True Tears,TV,13,7.55,118644,8.0
15,15699,Haiyore! Nyaruko-san W,TV,12,7.43,84442,6.0
16,527,Pokemon,TV,276,7.43,229157,8.0
17,2926,Myself; Yourself,TV,13,7.41,115075,8.0
18,4720,White Album,TV,13,6.74,54376,8.0

In [16]:
input_anime.drop(['episodes','rating_x','members','type'],axis=1,inplace=True)
input_anime

    anime_id                              name  rating_y
0      32281                    Kimi no Na wa.       9.0
1       5114  Fullmetal Alchemist: Brotherhood       4.0
2      23273           Shigatsu wa Kimi no Uso      10.0
3       1535                        Death Note       9.0
4         21                         One Piece       1.0
5       2418             Stranger: Mukou Hadan      10.0
6      23755                 Nanatsu no Taizai       1.0
7       6702                        Fairy Tail       7.0
8        223                       Dragon Ball       1.0
9       3588                        Soul Eater       3.0
10     18245                     White Album 2       9.0
11       269                            Bleach       2.0
12        20                            Naruto       1.5
13     15051    Love Live! School Idol Project       8.0
14      2129                        True Tears       8.0
15     15699            Haiyore! Nyaruko-san W       6.0
16       527                           Pokemon       8.0
17      2926                  Myself; Yourself       8.0
18      4720                       White Album       8.0

In [17]:
input_anime=input_anime.rename(columns={'rating_y':'rating'})
input_anime

    anime_id                              name  rating
0      32281                    Kimi no Na wa.     9.0
1       5114  Fullmetal Alchemist: Brotherhood     4.0
2      23273           Shigatsu wa Kimi no Uso    10.0
3       1535                        Death Note     9.0
4         21                         One Piece     1.0
5       2418             Stranger: Mukou Hadan    10.0
6      23755                 Nanatsu no Taizai     1.0
7       6702                        Fairy Tail     7.0
8        223                       Dragon Ball     1.0
9       3588                        Soul Eater     3.0
10     18245                     White Album 2     9.0
11       269                            Bleach     2.0
12        20                            Naruto     1.5
13     15051    Love Live! School Idol Project     8.0
14      2129                        True Tears     8.0
15     15699            Haiyore! Nyaruko-san W     6.0
16       527                           Pokemon     8.0
17      2926                  Myself; Yourself     8.0
18      4720                       White Album     8.0

Create set of users with similar ratings

In [18]:
userSubset = rating_df[rating_df['anime_id'].isin(input_anime['anime_id'].tolist())]
userSubset.head()

     user_id  anime_id  rating
0          1        20     NaN
156        3        20     8.0
163        3       527     7.0
173        3      1535    10.0
181        3      3588     8.0

In [19]:
userSubset.shape

(43734, 3)

In [20]:
userSubsetGroup = userSubset.groupby(['user_id'])
userSubsetGroup.get_group(200)

       user_id  anime_id  rating
15534      200      1535    10.0
15541      200      3588    10.0

In [21]:
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [22]:
userSubsetGroup[0:3]

[(7345,         user_id  anime_id  rating
  792115     7345        20     6.0
  792266     7345       223     7.0
  792300     7345       269     6.0
  792440     7345       527     6.0
  792781     7345      1535    10.0
  792941     7345      2129     7.0
  792992     7345      2418    10.0
  793060     7345      2926     7.0
  793147     7345      3588     5.0
  793265     7345      4720     7.0
  793311     7345      5114     9.0
  793487     7345      6702     7.0
  794139     7345     15051     7.0
  794161     7345     15699     5.0
  794247     7345     18245     5.0
  794395     7345     23273     9.0
  794410     7345     23755     6.0), (8115,         user_id  anime_id  rating
  893739     8115        20     7.0
  893814     8115       223     8.0
  893832     8115       269     7.0
  893887     8115       527     6.0
  893991     8115      1535    10.0
  894038     8115      2129     8.0
  894057     8115      2418     8.0
  894080     8115      2926     5.0
  894119     8115      3588     8.0
  894174     8115      4720     7.0
  894210     8115      5114    10.0
  894303     8115      6702     6.0
  894706     8115     15699     7.0
  894778     8115     18245     9.0
  894895     8115     23273     7.0
  894911     8115     23755     8.0), (4468,         user_id  anime_id  rating
  433944     4468        20     9.0
  433992     4468       223     4.0
  434005     4468       269     7.0
  434033     4468       527     7.0
  434102     4468      1535    10.0
  434133     4468      2129     4.0
  434149     4468      2418     6.0
  434189     4468      3588     6.0
  434249     4468      5114     9.0
  434312     4468      6702     3.0
  434621     4468     15051     5.0
  434638     4468     15699     7.0
  434703     4468     18245     8.0
  434815     4468     23273     8.0
  434830     4468     23755     8.0)]

In [23]:


userSubsetGroup = userSubsetGroup[0:1000]

In [24]:
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='anime_id')
    input_anime = input_anime.sort_values(by='anime_id')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = input_anime[input_anime['anime_id'].isin(group['anime_id'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [25]:
pearsonCorrelationDict.items()

dict_items([(7345, 0.43181083517976615), (8115, -0.06924250663197523), (4468, -0.02730575816362342), (4512, 0.4305875158539973), (7247, -0.44817158552148173), (226, 0.2236238334554357), (1176, -0.16044200853966725), (2378, 0.1571112831034423), (3325, nan), (4174, nan), (5669, -0.2884890267152957), (8149, nan), (10240, 0.0), (11339, nan), (11867, -0.2986904608397578), (12402, -0.1714193110113325), (13894, -0.24031207430288137), (14682, nan), (1504, 0.18050076379674967), (3203, 0.06188853959909328), (3338, nan), (4177, -0.508991157614851), (4249, -0.09659844574351241), (6971, 0.24453921103976367), (9032, -0.09362511734474613), (10140, 0.15659299599812918), (10231, -0.5086075027184003), (10419, 0.25707079367519825), (10785, 0.21547043553506562), (11594, nan), (12138, 0.21609760371464679), (13877, -0.128145656245287), (14764, nan), (14938, nan), (392, 0.017643243655649236), (741, -0.1481176374468417), (813, 0.18739716903415105), (1344, nan), (1349, -0.3213291960680524), (1366, 0.4935949128327814), (1530, -0.3863770538912327), (1579, nan), (1620, 0.14250510492393068), (1842, -0.18891815116176067), (1889, nan), (1963, 0.0779082470777725), (2243, nan), (2643, 0.21237860173017872), (3154, -0.25428562473126326), (4064, 0.2951318726213864), (5310, -0.2518652880966681), (5428, nan), (5655, -0.23376878330017198), (5831, nan), (6034, 0.017721247463337177), (6474, 0.013641367328222864), (6569, 0.2424570582623129), (6836, -0.18140769830147005), (7172, -0.20449264817964738), (7755, nan), (8217, -0.2365280320554402), (8231, -0.29748880910102604), (9995, 0.14032196900390936), (10283, nan), (10496, -0.22199387540189022), (10504, nan), (10921, nan), (11097, 0.246542750041904), (11400, 0.19912769951146939), (11536, -0.07867213758849902), (11887, 0.0016724582900853244), (12423, nan), (12684, 0.5327556765714871), (13208, 0.12235062749129444), (13548, nan), (13983, -0.09908961596563688), (14314, 0.13772895803538093), (14389, 0.10102961317564624), (14577, -0.27205998625324973), (14865, nan), (15086, -0.20793661062127927), (342, nan), (788, 0.31567372183137715), (917, nan), (1048, nan), (1058, 0.20002922481202112), (1274, 0.21080529591588537), (1489, nan), (1549, 0.10596386361756237), (1749, 0.2121952063207408), (2050, -0.11893732423440789), (2300, 0.24888267871602385), (2394, -0.05570837290172561), (2550, nan), (2944, 0.035083443460434995), (2951, 0.2545735110514363), (3039, nan), (3114, 0.059828953150648366), (3117, 0.23930378199801816), (3561, 0.013575278577849797), (3597, -0.17325923272968494), (3616, nan), (3739, 0.3592899780028219), (3781, 0.49264721957793967), (3990, -0.09085758804342597), (4085, -0.0735478646684774), (4347, nan), (4377, nan), (4437, -0.09386090929780469), (4528, -0.14502033063871514), (4896, 0.2057771683463444), (5000, 0.1680841445088094), (5073, 0.14874088509198855), (5137, -0.4916806124380604), (5526, nan), (5705, nan), (5815, 0.03031179428982715), (5886, nan), (5899, 0.02711122231584934), (6152, 0.17842860083688344), (6164, nan), (6321, 0.2102091815737985), (6969, -0.3404456688293331), (7114, -0.06611148234366523), (7231, nan), (7448, 0.3709667459280059), (7511, -0.28587939593355005), (7765, 0.1528966783236431), (8006, 0.15055331954612738), (8425, nan), (8443, 0.551477563519114), (9046, nan), (9316, nan), (9396, 0.3716369864568521), (9752, 0.40651050426130814), (9935, 0.4455471434610487), (10070, nan), (11398, 0.08059973374034668), (12373, 0.48966361829508803), (12593, 0.5119615998604217), (12842, 0.3874193810765486), (13201, nan), (13711, nan), (13920, 0.006254007757866857), (13954, -0.5432787005916129), (14094, 0.18243773276230477), (14186, 0.7713526073097966), (15543, -0.28748016609395083), (5, 0.3131413677356683), (39, nan), (248, 0.24872117634111), (294, -0.3858350458379108), (407, nan), (446, -0.2088622468834452), (478, 0.49165448209079265), (578, -0.3340323324008657), (598, -0.2716484750879576), (662, nan), (694, 0.03042550970524378), (735, 0.009084603685197432), (804, nan), (958, 0.1873687750263724), (996, 0.17876144265188962), (1114, 0.3713939430473016), (1202, nan), (1235, nan), (1327, -0.22825333505178108), (1338, nan), (1456, 0.5019379383618494), (1501, -0.14505622018009096), (1522, 0.2749242639168589), (1918, -0.2200791725656231), (1984, 0.1570865661476854), (1987, 0.05983004785215398), (2017, nan), (2115, nan), (2212, 0.2952308052387988), (2264, nan), (2472, nan), (2487, -0.24511570967021457), (2489, 0.17042754403835617), (2632, -0.06922283676991224), (2747, -0.5232619725549098), (2760, nan), (2864, nan), (2933, 0.05036878643858298), (3040, 0.17675696905707353), (3057, nan), (3115, -0.20064811958392895), (3127, 0.6338622367807404), (3193, -0.1273153833182744), (3241, 0.35985658401604287), (3391, nan), (3469, 0.1429740661958559), (3500, 0.29276452813749115), (3638, nan), (3769, nan), (3888, nan), (4020, 0.0), (4021, nan), (4053, nan), (4186, nan), (4241, 0.3072112911574921), (4373, 0.034804421937793685), (4480, -0.25084997847845525), (4569, nan), (4609, -0.15012578303701482), (4759, 0.7280477781853677), (4786, nan), (4973, -0.29608998651430307), (5076, nan), (5078, 0.38157780044933604), (5145, 0.5699053325857616), (5264, nan), (5345, -0.04398948038178367), (5515, nan), (5549, nan), (5584, 0.5204800389058843), (5598, nan), (5658, -0.15494914626882447), (5672, -0.07137068863144136), (5834, nan), (6110, -0.19887620991164343), (6387, 0.2941766356647537), (6416, nan), (6922, nan), (6939, -0.5773220375928658), (7339, 0.13952230791235945), (7421, -0.01786400098613474), (7446, -0.09650404513947958), (7520, -0.5491924941324976), (7600, -0.4184047350704852), (7622, 0.45471354118979607), (7670, -0.11444694015890007), (8128, -0.4009150563827661), (8308, -0.48696362825343636), (8820, -0.1040398327385405), (9015, -0.024408139116529413), (9122, 0.28486358863445593), (9130, nan), (9700, 0.05645565188856644), (9750, 0.09828731027261099), (10194, 0.37802776420550865), (10298, nan), (10358, nan), (10555, -0.26605047592381226), (10571, 0.08774448542119011), (10760, 0.4999799723618523), (10826, 0.7109364880913608), (10989, -0.2595267520206713), (11055, 0.04746669162811024), (11293, 0.38168311675289546), (11318, nan), (11423, -0.17049221107483747), (11567, 0.12564065100521032), (11780, 0.42447053906620735), (11905, nan), (11924, nan), (11966, 0.15538388320179017), (12061, 0.4767232275945162), (12174, 0.12646929164078302), (12180, 0.21775082911684304), (12521, 0.2086141101727647), (12647, 0.0), (12730, -0.2701102275039772), (12754, 0.17043904990318892), (12807, 0.04680458255881484), (12888, 0.2639931949297949), (12915, -0.16506397468768913), (12917, nan), (12963, 0.13016073497927494), (13012, 0.15255912812044117), (13234, -0.6131711975743345), (13249, -0.021413075955114897), (13304, 0.5278212504521541), (13815, -0.16840803334520446), (14013, -0.18890652384331375), (14020, nan), (14067, 0.752268223931194), (14097, -0.18761160673974825), (14279, nan), (14312, -0.028259223493115174), (14333, nan), (14518, 0.07530773989620716), (14613, nan), (14846, -0.6407729204792434), (14857, nan), (14959, 0.040489493822971165), (15039, 0.007252126927295527), (15059, -0.24161633517249137), (15063, 0.3185531179686399), (15141, nan), (15244, nan), (54, nan), (198, nan), (235, -0.38869845486236704), (261, 0.28984759427495127), (285, nan), (375, nan), (395, 0.5653488393366624), (400, 0.5426439255083617), (416, nan), (477, nan), (540, -0.2088965977313767), (551, 0.9617692030835673), (651, nan), (684, nan), (687, 0.31963019497297496), (784, 0.11066057433369968), (786, -0.4383540296599843), (862, nan), (920, 0.009615384615385665), (936, -0.41219281000687213), (937, -0.06234796863885407), (1027, nan), (1194, -0.2307114163099618), (1216, 0.6226750340359607), (1232, nan), (1284, -0.1465736460563261), (1309, 0.8993194867009424), (1354, 0.4405801340317839), (1418, -0.1722469126677565), (1450, 0.4313132660448856), (1492, nan), (1606, nan), (1870, nan), (1873, 0.1744697232450363), (1909, 0.6060848723103781), (2256, nan), (2288, nan), (2310, -0.4147806778921701), (2433, nan), (2480, -0.10775449168807306), (2483, -0.494700213908006), (2517, nan), (2589, 0.5900243422370617), (2591, 0.14801928166360592), (2802, nan), (2849, nan), (2863, -0.5630532705768118), (2940, -0.03178667346074308), (3012, 0.7213483489923993), (3052, -0.254293387685926), (3121, 0.20489633302875326), (3150, nan), (3178, 0.4136587334485831), (3262, 0.43226548355826666), (3278, 0.15032703427331487), (3280, -0.31294776837754285), (3313, -0.27818638189123973), (3374, -0.39139334786228497), (3412, -0.030542361089076306), (3453, 0.3664610215253437), (3476, -0.09401267913629437), (3521, nan), (3588, 0.1489108699002428), (3592, nan), (3615, nan), (3744, nan), (3784, 0.5304726891041149), (3881, 0.19459743752898476), (3922, 0.1719525266413154), (3997, nan), (4087, 0.5218519149394016), (4161, nan), (4205, -0.38494867693105234), (4227, 0.09072184232530289), (4349, 0.047456634901371586), (4404, 0.8704348889513776), (4517, 0.23465860943014447), (4527, -0.161581353572802), (4565, nan), (4566, 0.6647850183565693), (4586, -0.6531972647421809), (4597, nan), (4668, 0.5398210735112066), (4843, 0.16417350675660822), (4871, 0.39386802423580664), (4943, nan), (4948, nan), (4987, nan), (5357, 0.2620174775125699), (5374, 0.6431867497130674), (5387, nan), (5388, 0.6207397122711339), (5421, 0.12072928270097949), (5516, -0.17325842007483566), (5533, 0.13602389620167193), (5541, nan), (5552, nan), (5562, 0.09723007276742994), (5618, -0.3390461857568881), (5680, nan), (5732, nan), (5766, 0.11275964612329947), (5779, nan), (5904, -0.457989261186778), (5939, 0.3550234734023465), (6024, -0.1960198651383793), (6118, -0.1808063817076063), (6265, -0.4590584884895608), (6316, 0.141520374882993), (6340, 0.21802625452222754), (6411, 0.18203450992678383), (6498, -0.2222633157411474), (6509, nan), (6618, 0.49126302987195813), (6638, 0.3193695521744898), (6643, -0.4437059837324706), (6869, -0.1219282775010334), (6933, 0.01761612063019503), (7177, 0.5783566021264918), (7198, 0.7830992640304453), (7648, nan), (7669, nan), (7674, -0.24991347983821102), (7816, 0.30842181104576344), (7939, nan), (7995, nan), (8044, -0.26769152339225244), (8138, nan), (8144, nan), (8212, 0.6464334588558994), (8236, 0.21845627322505132), (8509, -0.2275520495954297), (8653, 0.6111242535697536), (8719, 0), (8722, 0.07810632246855356), (9084, nan), (9209, 0.21289403477322147), (9318, nan), (9355, 0.7973870873522917), (9459, -0.3199179395380624), (9500, -0.3667554737192855), (9581, nan), (9635, -0.7273217068146405), (9645, 0.38331947389216625), (9727, nan), (9746, -0.28842997520061237), (9757, -0.11352383378836282), (9791, nan), (9808, nan), (9866, -0.09249945801257578), (9924, nan), (9984, nan), (10022, nan), (10144, nan), (10256, nan), (10357, 0.13879355112799882), (10421, 0.04586705589275689), (10497, nan), (10536, -0.1649235410186025), (10544, nan), (10619, 0.19370679241722838), (10662, -0.18233123937236717), (10684, nan), (10932, -0.18094631370766492), (10941, nan), (10952, nan), (11013, nan), (11080, 0.3347490149127765), (11178, nan), (11227, 0.31470705560328016), (11438, nan), (11490, nan), (11601, 0.5583949869989524), (11687, 0.36906898938030414), (11730, -0.32344988835524185), (11768, 0.8469045620475284), (11940, 0.22226331574114908), (11976, nan), (12033, -0.055080562744962945), (12233, -0.03337653129589127), (12415, -0.19863803942616545), (12454, 0.4904229619657165), (12511, nan), (12575, -0.11183438222015295), (12601, nan), (12635, -0.6330576386674284), (12710, nan), (12758, 0.22416241078237642), (12818, nan), (12939, -0.012853062216019171), (12998, 0.333121564755738), (13038, nan), (13084, -0.26563902006868306), (13137, nan), (13165, nan), (13419, 0.20542991722934925), (13451, nan), (13631, 0.5487006579842738), (13743, 0.055802729104155506), (13789, 0.0), (13903, -0.272471685151026), (13970, 0.4666235512497841), (14111, nan), (14116, -0.0724409484749689), (14117, -0.14083575804390636), (14141, 0.38788810314671374), (14182, 0.4171924159961891), (14188, nan), (14547, nan), (14557, 0.08417575395853202), (14561, nan), (14593, nan), (14644, -0.19333052292272376), (14761, 0.11774303869954968), (14890, nan), (15120, -0.2801418577323081), (15145, 0.5132951406965225), (15279, 0.5327801736325333), (15533, 0.4734209913649109), (15588, 0.0338910038738172), (15600, nan), (17, -0.23480533575620346), (50, -0.6471519050143892), (80, -0.17959435081783653), (191, 0.09951218781072817), (210, -0.3554053187563629), (281, nan), (322, 0.21627614555592944), (332, 0.47610028918622727), (373, nan), (431, nan), (525, 0.016268229359378595), (567, -0.3763773600924314), (573, 0.6254301311235821), (612, 0.37868190967236076), (656, nan), (670, 0.08304547985373996), (702, -0.029322781463268693), (795, -0.491646361071025), (806, 0.6432675209026768), (938, 0.6829713210100775), (963, -0.3280012841869375), (977, nan), (995, 0.5400149929983783), (1013, 0.12435274890922428), (1044, 0.20527001323159053), (1132, 0.45454545454545453), (1138, 0.25614677224630833), (1160, nan), (1169, 0.8109674664324664), (1209, 0.4996305873156572), (1237, 0.5855638767277462), (1371, nan), (1441, 0.7013631985070865), (1461, 0.3258057898691049), (1482, 0.2837319285680111), (1497, 0.7437784232378885), (1539, nan), (1576, -0.2225705474966215), (1592, -0.47801996242510403), (1600, 0.31456626249804304), (1605, 0), (1619, 0.5093456097696052), (1623, 0.09360304916966311), (1645, nan), (1665, nan), (1695, nan), (1701, nan), (1708, nan), (1769, 0.192174260221186), (1815, nan), (1833, nan), (1938, -0.18608061271395496), (1978, 0.00528922874254893), (2015, 0.6747148141244694), (2066, 0.05707093252491889), (2072, -0.2185590239152446), (2080, 0.6546361217883876), (2102, -0.3091678906694788), (2108, 0.4041291073378795), (2125, 0.08326710257494462), (2127, 0.19274469569983307), (2165, nan), (2246, nan), (2268, -0.06280742930213278), (2298, -0.1879440631358026), (2307, -0.08597859361287434), (2318, 0.44045777826238997), (2325, nan), (2342, 0.01306994141673288), (2343, nan), (2407, 0.14453044493153328), (2599, nan), (2603, nan), (2634, nan), (2664, 0.2600847107917019), (2698, 0.5482045824464612), (2701, 0.2857098357531711), (2712, 0.2692015380785321), (2743, -0.07903857206991764), (2748, 0.2899580255370041), (2810, 0.20461034872794504), (2843, -0.5660220423101492), (2912, -0.11484394696763167), (2937, nan), (2938, 0.4433033924365215), (2991, 0.5081447643381781), (3009, 0.27316788859123586), (3013, 0.807015905293482), (3014, -0.4677675811188185), (3029, 0.23753445487800928), (3045, nan), (3047, -0.6102897945428865), (3070, 0.008060061680664027), (3093, -0.20150095914124064), (3124, -0.20944466927187436), (3182, nan), (3183, -0.48125902807849974), (3215, 0.39029124077509103), (3224, -0.044707341102375696), (3254, 0.4010032681404463), (3273, 0.6713651492945503), (3284, nan), (3341, -0.28252896560880664), (3363, -0.7124531191977278), (3388, 0.07753724297456153), (3392, -0.1523834402941648), (3463, 0.5666459962475867), (3492, -0.42292184880602823), (3584, 0.005169149531637436), (3636, 0.4020852040832066), (3658, nan), (3660, nan), (3736, nan), (3826, nan), (3890, -0.26897890776632777), (3915, nan), (3949, nan), (3965, nan), (3981, -0.11720161630644345), (4019, 0.003871754259316663), (4049, nan), (4062, nan), (4063, 0.4456996086986637), (4081, nan), (4102, 0.024827734524269708), (4183, 0.4191232073945294), (4209, 0.6205438719697043), (4211, 0.7019171090639028), (4280, 0.22893427324781504), (4306, -0.22513029067062268), (4341, 0.47109842234932764), (4350, -0.056668366743170495), (4406, nan), (4436, 0.21268573802781007), (4453, nan), (4519, nan), (4575, -0.07742729333088717), (4631, nan), (4676, 0.21788784391864513), (4842, -0.07359382587080464), (4844, 0.06208830191000705), (4883, 0.3116943241363343), (4906, 0.8336502358077822), (4945, -0.21728180110232), (4950, -0.10955793822221753), (5053, 0.6976117789512755), (5132, 0.7136384807572532), (5148, 0.0706659371885795), (5214, 0.62062710909388), (5235, nan), (5244, nan), (5255, 0.07362766878292687), (5287, 0.01271026705187137), (5296, 0.21967953417105057), (5356, 0.7156070305559962), (5394, 0.3814572882395119), (5449, -0.3102105245192287), (5453, nan), (5504, 0.3829708431025352), (5554, 0.2208537328369545), (5577, nan), (5616, 0.3457066600442739), (5720, -0.6928467793518294), (5753, nan), (5806, 0.3642830899523701), (5845, -0.40100028012108596), (5883, nan), (5890, 0.7463721565607411), (5892, 0.2807714302062651), (5893, 0.10886956827099772), (5908, -0.6009384977268099), (5994, 0.26916282093328214), (6079, nan), (6112, nan), (6132, nan), (6163, nan), (6167, -0.3644845512012117), (6184, 0.07414255385849432), (6237, nan), (6239, -0.09845507252962694), (6302, 0.2587058982269121), (6339, 0.6517116252039393), (6368, 0.6317231761169911), (6407, 0.464765829245827), (6487, 0.5583409657298198), (6490, nan), (6512, -0.012311947585885297), (6540, 0.22736183636349594), (6542, nan), (6597, nan), (6680, 0.16820461341659837), (6707, -0.4067524790836347), (6717, 0.24088305100293264), (6769, 0.5501610358379906), (6771, -0.45942351579784957), (6808, 0.17259282034506165), (6814, -0.785838749615567), (6932, 0.22523218927564956), (6934, 0.7647031029618001), (6970, -0.11284086352929638), (7062, nan), (7081, 0.2463768115942029), (7133, nan), (7135, 0.4241459066890304), (7297, 0.41774525306975774), (7325, 0.9200324113579318), (7435, -0.1818548206032542), (7451, 0.1057361065275362), (7519, 0.06875997365313609), (7522, 0.387355639989794), (7536, nan), (7555, 0.1754493424146703), (7561, 0.3659268003021468), (7602, 0.5061868168845678), (7613, nan), (7638, 0.1706881807722145), (7655, 0.4338741947226513), (7702, -0.18454136402744542), (7711, -0.3248056269426266), (7734, nan), (7915, -0.6334460659719167), (7988, 0.16410594972205841), (8018, 0.3250359469338138), (8031, -0.05175020068350407), (8093, 0.2679387112931372), (8107, 0.18968503638820158), (8129, 0.23438536463603288), (8264, nan), (8282, 0.5279816834654427), (8287, -0.2787001235472425), (8319, 0.3014572957569336), (8421, -0.07874992309581577), (8435, -0.2902949589009701), (8470, 0.2734310757892514), (8521, 0.538293035575035), (8612, nan), (8631, -0.539905524799017), (8657, 0.020935980403804167), (8662, 0.1710952410098109), (8667, 0.2641011727988589), (8754, 0.5110798548150238), (8795, 0.039222116755738425), (8846, nan), (8926, -0.03985451190713005), (9068, nan), (9091, 0.6581682135137532), (9131, nan), (9257, -0.3721518987341772), (9358, nan), (9432, -0.06003225739982), (9436, -0.2663546525886777), (9523, 0.34435607640168675), (9560, 0.5232487392482164), (9673, 0.5242105950545827), (9695, nan), (9708, 0.5175062354155504), (9754, nan), (9755, -0.1034224469428449), (9774, 0.8072103714256963), (9839, 0.5912065261795513), (9859, 0.4247876969798121), (9877, 0.3839995090657362), (9882, nan), (9940, -0.23912847960585343), (10005, 0.8281936376568709), (10072, -0.3172083195826086), (10108, 0.18626490573002114), (10117, nan), (10138, 0.18736579465153427), (10210, -0.04888267480053694), (10235, nan), (10329, nan), (10341, -0.40879383079598425), (10370, 0.3838134003133485), (10382, -0.1751559637879494), (10456, 0.34540714164998015), (10513, -0.8583397269268981), (10563, nan), (10644, -0.15990053726670783), (10650, 0.10524027211168678), (10765, nan), (10858, 0.15661959032648912), (10877, 0.4691613717935442), (10880, 0.3961672015270443), (11017, nan), (11028, 0.4300718860419291), (11073, -0.25221663615265916), (11075, -0.1808824471145883), (11130, 0.5011744705393699), (11155, -0.3024570176094281), (11186, 0.19049593498676476), (11284, -0.5879681832553533), (11308, 0.12388589701278618), (11343, 0.5793000664130116), (11397, nan), (11408, 0.2792283297076377), (11416, 0.3195096216908378), (11430, 0), (11469, nan), (11546, -0.3485362311690148), (11587, -0.06929090210592839), (11603, nan), (11606, nan), (11748, nan), (11773, -0.08473185457363235), (11871, 0.46137468894064876), (11882, nan), (11925, -0.06785547598194783), (11993, -0.36258832611198555), (11999, 0.3049761577515823), (12040, -0.36808967456323627), (12054, nan), (12114, -0.16123785629816229), (12119, nan), (12

In [26]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['user_id'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  user_id
0         0.431811     7345
1        -0.069243     8115
2        -0.027306     4468
3         0.430588     4512
4        -0.448172     7247

In [27]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

     similarityIndex  user_id
304         0.961769      551
971         0.930783      427
719         0.920032     7325
319         0.899319     1309
368         0.870435     4404

In [28]:
topUsersRating=topUsers.merge(rating_df, left_on='user_id', right_on='user_id', how='inner')
topUsersRating.head()

   similarityIndex  user_id  anime_id  rating
0         0.961769      551         6     7.0
1         0.961769      551        20     6.0
2         0.961769      551        22    10.0
3         0.961769      551        30     8.0
4         0.961769      551        63     5.0

In [29]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  user_id  anime_id  rating  weightedRating
0         0.961769      551         6     7.0        6.732384
1         0.961769      551        20     6.0        5.770615
2         0.961769      551        22    10.0        9.617692
3         0.961769      551        30     8.0        7.694154
4         0.961769      551        63     5.0        4.808846

In [30]:
tempTopUsersRating = topUsersRating.groupby('anime_id').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

          sum_similarityIndex  sum_weightedRating
anime_id
1                   12.264426          107.190556
5                    5.063637           43.954274
6                   10.724382           85.204646
7                    1.961538           13.730768
8                    0.633862            4.437036

In [31]:
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['anime_id'] = tempTopUsersRating.index
recommendation_df.head()

          weighted average recommendation score  anime_id
anime_id
1                                      8.739957         1
5                                      8.680377         5
6                                      7.944947         6
7                                      7.000000         7
8                                      7.000000         8

In [32]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

          weighted average recommendation score  anime_id
anime_id
2164                                       10.0      2164
7058                                       10.0      7058
7748                                       10.0      7748
9735                                       10.0      9735
17371                                      10.0     17371
27509                                      10.0     27509
5244                                       10.0      5244
25897                                      10.0     25897
108                                        10.0       108
11583                                      10.0     11583

In [33]:
anime_df.loc[anime_df['anime_id'].isin(recommendation_df.head(10)['anime_id'].tolist())]

,anime_id,name,type,episodes,rating,members
216,9735,Gintama: Shinyaku Benizakura-hen,Special,1,8.31,14002
313,2164,Dennou Coil,TV,26,8.19,76860
1372,5244,Aria The Natural: Sono Futatabi Deaeru Kiseki ...,Special,1,7.56,10069
1832,108,Ou Dorobou Jing in Seventh Heaven,OVA,3,7.43,8561
1847,7058,Uragiri wa Boku no Namae wo Shitteiru,TV,24,7.43,55040
3007,27509,Toaru Majutsu no Index 10th Anniversary PV,Special,1,7.11,5052
3834,25897,Love Live! School Idol Project: μ&#039;s →NEXT...,Special,3,6.87,5282
4726,11583,Kami nomi zo Shiru Sekai: Natsu-iro Surprise,Music,1,6.65,5772
11138,7748,Sono Hanabira ni Kuchizuke wo: Anata to Koibit...,OVA,1,7.40,24288
11830,17371,Natsuyasumi.,ONA,3,6.02,4388

Optional (Content Base)

In [34]:
anime_df=pd.read_csv('/content/anime.csv')
rating_df=pd.read_csv('/content/rating.csv')

In [35]:
anime_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [36]:
anime_df['genre'] = anime_df.genre.str.split(', ')
anime_df.drop('rating',axis=1,inplace=True)
anime_df.head()

,anime_id,name,genre,type,episodes,members
0,32281,Kimi no Na wa.,"[Drama, Romance, School, Supernatural]",Movie,1,200630
1,5114,Fullmetal Alchemist: Brotherhood,"[Action, Adventure, Drama, Fantasy, Magic, Mil...",TV,64,793665
2,28977,Gintama°,"[Action, Comedy, Historical, Parody, Samurai, ...",TV,51,114262
3,9253,Steins;Gate,"[Sci-Fi, Thriller]",TV,24,673572
4,9969,Gintama&#039;,"[Action, Comedy, Historical, Parody, Samurai, ...",TV,51,151266

In [37]:
anime_withGenre=anime_df.copy()

In [38]:
for index,row in anime_df.iterrows():
  for genre in list(row['genre']):
    anime_withGenre.at[index, genre] = 1.0

TypeError: ignored

In [39]:
anime_withGenre = anime_withGenre.fillna(0)
anime_withGenre.head()

,anime_id,name,genre,type,episodes,members,Drama,Romance,School,Supernatural,...,Demons,Ecchi,Josei,Shounen Ai,Game,Dementia,Harem,Cars,Kids,Shoujo Ai
0,32281,Kimi no Na wa.,"[Drama, Romance, School, Supernatural]",Movie,1,200630,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5114,Fullmetal Alchemist: Brotherhood,"[Action, Adventure, Drama, Fantasy, Magic, Mil...",TV,64,793665,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28977,Gintama°,"[Action, Comedy, Historical, Parody, Samurai, ...",TV,51,114262,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9253,Steins;Gate,"[Sci-Fi, Thriller]",TV,24,673572,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9969,Gintama&#039;,"[Action, Comedy, Historical, Parody, Samurai, ...",TV,51,151266,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
userInput=(
    {'name':'Dragon Ball','rating':1.0},
    {'name':'One Piece','rating':1.0},
    {'name':'Naruto','rating':1.5},
    {'name':'Death Note','rating':9.0},
    {'name':'Bleach','rating':2.0},
    {'name':'Fullmetal Alchemist: Brotherhood','rating':4.0},
    {'name':'High School DxD','rating':6.0},
    {'name':'Highschool of the Dead','rating':8.0},
    {'name':'Love Live! School Idol Project','rating':8.0},
    {'name':'White Album 2','rating':9.0},
    {'name':'White Album','rating':8.0},
    {'name':'Fairy Tail','rating':7.0},
    {'name':'Soul Eater','rating':3.0},
    {'name':'Haiyore! Nyaruko-san W','rating':6.0},
    {'name':'Shigatsu wa Kimi no Uso','rating':10.0},
    {'name':'Myself; Yourself','rating':8.0},
    {'name':'True Tears','rating':8.0},
    {'name':'Nanatsu no Taizai','rating':1.0},
    {'name':'Stranger: Mukou Hadan','rating':10.0},
    {'name':'Kimi no Na wa.','rating':9.0},





)
input_anime=pd.DataFrame(userInput)
input_anime

                                name  rating
0                        Dragon Ball     1.0
1                          One Piece     1.0
2                             Naruto     1.5
3                         Death Note     9.0
4                             Bleach     2.0
5   Fullmetal Alchemist: Brotherhood     4.0
6                    High School DxD     6.0
7             Highschool of the Dead     8.0
8     Love Live! School Idol Project     8.0
9                      White Album 2     9.0
10                       White Album     8.0
11                        Fairy Tail     7.0
12                        Soul Eater     3.0
13            Haiyore! Nyaruko-san W     6.0
14           Shigatsu wa Kimi no Uso    10.0
15                  Myself; Yourself     8.0
16                        True Tears     8.0
17                 Nanatsu no Taizai     1.0
18             Stranger: Mukou Hadan    10.0
19                    Kimi no Na wa.     9.0

In [41]:
inputId = anime_df[anime_df['name'].isin(input_anime['name'].tolist())]
input_anime=pd.merge(inputId,input_anime,on='name')

In [42]:
input_anime.drop(['episodes','members','type'],axis=1,inplace=True)
input_anime

,anime_id,name,genre,rating
0,32281,Kimi no Na wa.,"[Drama, Romance, School, Supernatural]",9.0
1,5114,Fullmetal Alchemist: Brotherhood,"[Action, Adventure, Drama, Fantasy, Magic, Mil...",4.0
2,23273,Shigatsu wa Kimi no Uso,"[Drama, Music, Romance, School, Shounen]",10.0
3,1535,Death Note,"[Mystery, Police, Psychological, Supernatural,...",9.0
4,21,One Piece,"[Action, Adventure, Comedy, Drama, Fantasy, Sh...",1.0
5,2418,Stranger: Mukou Hadan,"[Action, Adventure, Historical, Samurai]",10.0
6,23755,Nanatsu no Taizai,"[Action, Adventure, Ecchi, Fantasy, Shounen, S...",1.0
7,6702,Fairy Tail,"[Action, Adventure, Comedy, Fantasy, Magic, Sh...",7.0
8,223,Dragon Ball,"[Adventure, Comedy, Fantasy, Martial Arts, Sho...",1.0
9,3588,Soul Eater,"[Action, Adventure, Comedy, Fantasy, Shounen, ...",3.0
10,18245,White Album 2,"[Drama, Music, Romance, Slice of Life]",9.0
11,269,Bleach,"[Action, Comedy, Shounen, Super Power, Superna...",2.0
12,20,Naruto,"[Action, Comedy, Martial Arts, Shounen, Super ...",1.5
13,11617,High School DxD,"[Comedy, Demons, Ecchi, Harem, Romance, School]",6.0
14,15051,Love Live! School Idol Project,"[Music, School, Slice of Life]",8.0
15,2129,True Tears,"[Drama, Romance, School]",8.0
16,8074,Highschool of the Dead,"[Action, Ecchi, Horror, Supernatural]",8.0
17,15699,Haiyore! Nyaruko-san W,"[Comedy, Parody, Sci-Fi]",6.0
18,2926,Myself; Yourself,"[Drama, Romance, School]",8.0
19,4720,White Album,"[Drama, Harem, Music, Romance]",8.0

In [43]:
#input_anime.drop(['anime_id_y'],axis=1,inplace=True)

In [44]:
input_anime.drop('genre',axis=1,inplace=True)

In [45]:
input_anime.head()

   anime_id                              name  rating
0     32281                    Kimi no Na wa.     9.0
1      5114  Fullmetal Alchemist: Brotherhood     4.0
2     23273           Shigatsu wa Kimi no Uso    10.0
3      1535                        Death Note     9.0
4        21                         One Piece     1.0

In [46]:
userAnime = anime_withGenre[anime_withGenre['anime_id'].isin(input_anime['anime_id'].tolist())]
userAnime

,anime_id,name,genre,type,episodes,members,Drama,Romance,School,Supernatural,...,Demons,Ecchi,Josei,Shounen Ai,Game,Dementia,Harem,Cars,Kids,Shoujo Ai
0,32281,Kimi no Na wa.,"[Drama, Romance, School, Supernatural]",Movie,1,200630,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5114,Fullmetal Alchemist: Brotherhood,"[Action, Adventure, Drama, Fantasy, Magic, Mil...",TV,64,793665,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,23273,Shigatsu wa Kimi no Uso,"[Drama, Music, Romance, School, Shounen]",TV,22,416397,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,1535,Death Note,"[Mystery, Police, Psychological, Supernatural,...",TV,37,1013917,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
74,21,One Piece,"[Action, Adventure, Comedy, Drama, Fantasy, Sh...",TV,Unknown,504862,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
136,2418,Stranger: Mukou Hadan,"[Action, Adventure, Historical, Samurai]",Movie,1,125503,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
141,23755,Nanatsu no Taizai,"[Action, Adventure, Ecchi, Fantasy, Shounen, S...",TV,24,331627,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
288,6702,Fairy Tail,"[Action, Adventure, Comedy, Fantasy, Magic, Sh...",TV,175,584590,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
346,223,Dragon Ball,"[Adventure, Comedy, Fantasy, Martial Arts, Sho...",TV,153,316102,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
440,3588,Soul Eater,"[Action, Adventure, Comedy, Fantasy, Shounen, ...",TV,51,580184,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
552,18245,White Album 2,"[Drama, Music, Romance, Slice of Life]",TV,13,91075,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
582,269,Bleach,"[Action, Comedy, Shounen, Super Power, Superna...",TV,366,624055,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
841,20,Naruto,"[Action, Comedy, Martial Arts, Shounen, Super ...",TV,220,683297,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1057,11617,High School DxD,"[Comedy, Demons, Ecchi, Harem, Romance, School]",TV,12,398660,0.0,1.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1065,15051,Love Live! School Idol Project,"[Music, School, Slice of Life]",TV,13,155281,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1435,2129,True Tears,"[Drama, Romance, School]",TV,13,118644,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1709,8074,Highschool of the Dead,"[Action, Ecchi, Horror, Supernatural]",TV,12,535892,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1816,15699,Haiyore! Nyaruko-san W,"[Comedy, Parody, Sci-Fi]",TV,12,84442,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1907,2926,Myself; Yourself,"[Drama, Romance, School]",TV,13,115075,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4383,4720,White Album,"[Drama, Harem, Music, Romance]",TV,13,54376,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
userAnime = userAnime.reset_index(drop=True)

In [48]:
userGenreTable = userAnime.drop('anime_id', 1).drop('name', 1).drop('genre', 1).drop('type', 1).drop('members',1).drop('episodes',1)
userGenreTable

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,Drama,Romance,School,Supernatural,Action,Adventure,Fantasy,Magic,Military,Shounen,...,Demons,Ecchi,Josei,Shounen Ai,Game,Dementia,Harem,Cars,Kids,Shoujo Ai
0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
#userGenreTable.drop('rating',1)

In [50]:


input_anime['rating']

0      9.0
1      4.0
2     10.0
3      9.0
4      1.0
5     10.0
6      1.0
7      7.0
8      1.0
9      3.0
10     9.0
11     2.0
12     1.5
13     6.0
14     8.0
15     8.0
16     8.0
17     6.0
18     8.0
19     8.0
Name: rating, dtype: float64

In [51]:
userProfile = userGenreTable.transpose().dot(input_anime['rating'])
#The user profile
userProfile

Drama            49.0
Romance          50.0
School           49.0
Supernatural     32.0
Action           37.5
Adventure        27.0
Fantasy          17.0
Magic            11.0
Military          4.0
Shounen          30.5
Comedy           27.5
Historical       10.0
Parody            6.0
Samurai          10.0
Sci-Fi            6.0
Thriller          9.0
Sports            0.0
Super Power       5.5
Space             0.0
Slice of Life    17.0
Mecha             0.0
Music            27.0
Mystery           9.0
Seinen            0.0
Martial Arts      2.5
Vampire           0.0
Shoujo            0.0
Horror            8.0
Police            9.0
Psychological     9.0
Demons            6.0
Ecchi            15.0
Josei             0.0
Shounen Ai        0.0
Game              0.0
Dementia          0.0
Harem             6.0
Cars              0.0
Kids              0.0
Shoujo Ai         0.0
dtype: float64

In [52]:
genreTable = anime_withGenre.set_index(anime_withGenre['anime_id'])
#And drop the unnecessary information
genreTable = genreTable.drop('anime_id', 1).drop('name', 1).drop('genre', 1).drop('type', 1)
genreTable.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,episodes,members,Drama,Romance,School,Supernatural,Action,Adventure,Fantasy,Magic,...,Demons,Ecchi,Josei,Shounen Ai,Game,Dementia,Harem,Cars,Kids,Shoujo Ai
anime_id,,,,,,,,,,,,,,,,,,,,,
32281,1,200630,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5114,64,793665,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28977,51,114262,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9253,24,673572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9969,51,151266,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
genreTable.drop(['episodes','members'],axis=1,inplace=True)

In [54]:
genreTable.shape

(12294, 40)

In [55]:
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

anime_id
32281    0.367722
5114     0.359551
28977    0.260470
9253     0.030644
9969     0.260470
dtype: float64

In [56]:


#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
#Just a peek at the values
recommendationTable_df.head()

anime_id
25157    0.562819
4938     0.537283
1397     0.528090
969      0.514811
451      0.508682
dtype: float64

In [57]:
anime_df.loc[anime_df['anime_id'].isin(recommendationTable_df.head(30).keys())]

,anime_id,name,genre,type,episodes,members
151,33,Berserk,"[Action, Adventure, Demons, Drama, Fantasy, Ho...",TV,25,226430
173,6811,InuYasha: Kanketsu-hen,"[Action, Adventure, Comedy, Demons, Fantasy, M...",TV,26,99128
180,18195,Little Busters!: Refrain,"[Comedy, Drama, Romance, School, Slice of Life...",TV,13,71820
223,2167,Clannad,"[Comedy, Drama, Romance, School, Slice of Life...",TV,23,566690
286,4938,Tsubasa: Shunraiki,"[Action, Adventure, Drama, Fantasy, Magic, Mys...",OVA,2,40420
320,16001,Kokoro Connect: Michi Random,"[Comedy, Drama, Romance, School, Slice of Life...",Special,4,106989
322,232,Cardcaptor Sakura,"[Adventure, Comedy, Drama, Fantasy, Magic, Rom...",TV,70,181249
518,11887,Kokoro Connect,"[Comedy, Drama, Romance, School, Slice of Life...",TV,13,283847
613,20517,Little Busters!: EX,"[Comedy, Drama, Romance, School, Slice of Life...",Special,8,26709
690,249,InuYasha,"[Action, Adventure, Comedy, Demons, Fantasy, M...",TV,167,281632
692,451,InuYasha: Tenka Hadou no Ken,"[Adventure, Comedy, Demons, Drama, Fantasy, Hi...",Movie,1,51079
878,2787,Shakugan no Shana II (Second),"[Action, Drama, Fantasy, Romance, School, Supe...",TV,24,184525
986,355,Shakugan no Shana,"[Action, Drama, Fantasy, Romance, School, Supe...",TV,24,297058
1006,1840,Zero no Tsukaima: Futatsuki no Kishi,"[Action, Adventure, Comedy, Ecchi, Fantasy, Ha...",TV,12,235684
1063,1087,Kimagure Orange☆Road,"[Comedy, Drama, Romance, School, Shounen, Slic...",TV,48,16012
1071,969,Tsubasa Chronicle 2nd Season,"[Action, Adventure, Drama, Fantasy, Mystery, R...",TV,26,79166
1164,2012,Jigoku Sensei Nube,"[Adventure, Comedy, Horror, Romance, School, S...",TV,49,8908
1233,449,InuYasha: Guren no Houraijima,"[Adventure, Comedy, Demons, Drama, Historical,...",Movie,1,50008
1246,1195,Zero no Tsukaima,"[Action, Adventure, Comedy, Ecchi, Fantasy, Ha...",TV,13,346828
1304,3712,Zero no Tsukaima: Princesses no Rondo,"[Action, Adventure, Comedy, Ecchi, Fantasy, Ha...",TV,12,210891
1315,98,Mai-HiME,"[Action, Comedy, Drama, Fantasy, Magic, Mecha,...",TV,26,76492
1463,1327,Aoki Densetsu Shoot!,"[Action, Comedy, Drama, Romance, School, Shoun...",TV,58,6937
1480,28285,Trinity Seven OVA,"[Action, Comedy, Ecchi, Fantasy, Harem, Magic,...",OVA,1,38197
1604,6572,Shakugan no Shana S,"[Action, Drama, Fantasy, Romance, School, Supe...",OVA,4,53129
1693,1744,Wagamama☆Fairy Mirumo de Pon!,"[Adventure, Comedy, Drama, Fantasy, Kids, Magi...",TV,172,8713
1762,573,Saber Marionette J,"[Action, Adventure, Comedy, Drama, Harem, Mart...",TV,25,17561
1845,25157,Trinity Seven,"[Action, Comedy, Ecchi, Fantasy, Harem, Magic,...",TV,12,208796
2281,79,Shuffle!,"[Comedy, Drama, Ecchi, Fantasy, Harem, Magic, ...",TV,24,158772
2554,1397,Macross 7,"[Action, Adventure, Comedy, Drama, Mecha, Mili...",TV,49,15420
2620,1546,Negima!?,"[Adventure, Comedy, Ecchi, Fantasy, Harem, Mag...",TV,26,44009

In [58]:
#new=anime_df.genre.str.split(', ',expand=True)

In [59]:
#df=pd.merge(rating_df,anime_data,on='anime_id')